---
layout: default
---
<!-- Header-->
<header class="masthead d-flex align-items-center">
    <div class="px-4 px-lg-5 text-center">
        <div class="container row position-absolute bottom-0">
            <div class="col-sm float-start">
                <h5><em>PILAR ÁLVAREZ</em></h5>
                <h5>Diseño de interiores</h5>
            </div>
                
            <div class="col-sm float-end">
                <h5><em>La belleza es el acuerdo entre el contenido y la forma.</em></h5>
                <h5>(Henrik Ibsen)</h5>
            </h5>
        </div>
    </div>
</header>
<!-- About-->
<section class="content-section" id="about">
    <h1 class="bg-gradient">Sobre mi</h1>
    <div class="container px-4 px-lg-5 text-center">
        <div class="row" >
            <div class="col-sm" id="about-me">
                <p>
                    Tras una trayectoria profesional intensa en el mundo de la Abogacía ejerciente durante 16 años, llegó un momento de hastío en el que se produjo un punto de inflexión en mi vida, y por consiguiente la necesidad de reinventarme a todos los niveles. Una vez que nuestro hijo adoptado llegó a nuestro mundo, y apartada del mundo laboral durante unos años por motivos personales , decidí dar un vuelco a mi vida profesional y formarme en el mundo del Interiorismo".
                    <br/><br/>
                    " El camino no ha sido nada fácil.  Años de estudio, y de preparación para adentrarme en un mundo totalmente desconocido para mí. NUNCA he dejado de creer en mí misma , a pesar de algunas suspicacias , sin dejar de pisar el suelo. No permitirme decaer sin levantarme rápidamente, y un constante aprendizaje, forma parte de mi filosofía. 
                    <br><br/>                    
                    Pilar Alvarez. Asturias, 1974
                </p>
            </div>
            <div class="col-sm">
                <img class="img-fluid" src="assets/img/foto-pilar.jpg" />
            </div>
        </div>
    </div>
    <h2 class="bg-gradient">Mis referentes</h2>
    <div class="container px-4 px-lg-5 text-center">
        <div class="row" id="about-references">
            <div class="row gx-0">
                {% for reference in site.references %}
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!" data-bs-toggle="modal" data-bs-target="#modal-{{ reference.id | slugify }}">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">{{ reference.name }}</div>
                                <p class="mb-0">{{ reference.subtitle }}</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ reference.image }}" alt="{{ reference.alt }}" />
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <h2 class="bg-gradient">Estudios</h2>
    <div class="container px-4 px-lg-5 text-center">
        <div class="row" id="about-study">
            <div class="row gx-0">
                <div class="col-sm">
                    <ul class="list-unstyled list-group bg-dark text-white">
                        {% for study in site.data.studies %}
                        <li class="list-group-item text-start"><i class="fas fa-book-open fa-xl"></i>{{ study.name }}. Certificado por {{study.certified_by }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm">
                            <img class="img-fluid" src="assets/img/estudios-paleta-1.jpg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img class="img-fluid" src="assets/img/estudios-paleta-2.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio-->
<section class="content-section" id="portfolio">
    <h1 class="bg-gradient">Portfolio</h1>
    <div class="container px-4 px-lg-5 text-center">
        <div class="content-section-heading text-center">
            <p>
                Todos los espacios que aquí se muestran son ficticios, debido a que aún no he tenido la oportunidad de desarrollar espacio físico alguno. El Portfolio contiene los espacios trabajados durante la realización del Master con la Escuela Labasad, los que he rediseñado casi en su totalidad.  Se trata de tres espacios ( Doméstico, Oficina y Hotel) a partir de cuyos planos en planta ( proporcionados por la Escuela Labasad) se ha levantado la construcción, procediendo a la distribución de espacios, elección de mobiliario, texturas y materiales . 
                Para ello, se ha trabajado , entre otros programas, con AutoCad, Revit y 3d Max, éste último en lo que respecta a la creación de escenas 3D.
            </p>
        </div>
        <div class="row gx-0">
            {% for project in site.projects %}
            <div class="col-lg-6">
                <a class="portfolio-item" href="{{ project.id | slugify}}.html#page-top">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h1 text-uppercase">{{ project.name }}</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{ project.image }}" alt="{{ project.alt }}" />
                </a>
            </div>
            {% endfor %}
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h1 text-uppercase">Strawberries</div>
                            <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio-3.jpg" alt="..." />
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ******************************** MAP ********************************** -->
<section class="content-section" id="contact">
    <h1 class="bg-gradient">Contacto</h1>
    <div container px-4 px-lg-5>
        <div class="map" id="contact">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3034.151384982678!2d-3.872521923308102!3d40.49403535092967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4183794d764393%3A0x86bf2b3aaef9b014!2sC.%20Concha%20Espina%2C%202%2C%2028231%20Las%20Rozas%20de%20Madrid%2C%20Madrid!5e0!3m2!1ses!2ses!4v1684944178171!5m2!1ses!2ses" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
<!-- ********************* MODALES PARA REFERENTES ************************ -->
{% for reference in site.references %}
<div class="modal fade" id="modal-{{ reference.id | slugify }}" tabindex="-1" aria-labelledby="modal-{{ reference.id | slugify }}-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-black">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ reference.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="{{ reference.image }}" alt="{{ reference.alt }}"/>
                {{ reference.content }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}