<!-- Navigation-->
<a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="index.html#page-top">alvArt Interiorism</a></li>
        <li class="sidebar-nav-item"><a href="index.html#page-top">Inicio</a></li>
        <li class="sidebar-nav-item"><a href="index.html#about">Sobre mi</a></li>
        <li class="sidebar-nav-item"><a href="index.html#portfolio">Portfolio</a></li>
        <li class="sidebar-nav-item"><a href="index.html#contact">Contacto</a></li>
    </ul>
</nav>